
  .form-control{
      border-radius: 6px;
      
  }
  .btn{
    background-color: #862adb;
    border: none;
    transition: background 0.2s;
  }
  
  .btn:hover{
      background-color: #56108A;
      
  }

  #btn-limpar{
      background-color:#32cd33;
      color: #fff;
  }

  #btn-limpar:hover{
    background-color:#228b22;
}

   .btn {
      padding: 12px 30px;
      border-radius: 6px;
  }
  

  .form-control:focus{ 
      border-color: inherit; 
      -webkit-box-shadow: none; 
      box-shadow: none; 
    border: 1px solid#862adb;
    }